body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #f5f872;
  -webkit-text-stroke: 2px #836334;
}

.gameSection {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 400px;
  height: 100vh;
  padding: 20px;
}

div {
  display: flex;
  justify-content: center;
}

a {
  width: 150px;
  height: 30px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}
