body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Russo One', sans-serif;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: #f5f872;
  -webkit-text-stroke: 2px #836334;
  margin: 150px 0px 0px 0px;
  font-family: 'Russo One', sans-serif;
}

.gameSection {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 390px;
  height: 844px;
  padding: 20px;
  background-image:url(homepage.png);
  background-size: cover;
  object-fit: fill;
  padding: 0px;
  position: relative;
  background-repeat: repeat-x;
  animation: background-animation 30s linear infinite;
}

@keyframes background-animation {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1920px;
  }
}

.pet{
  width: 60%;
  position: relative;
  top: 0px;
  left: 175px;
}

div {
  display: flex;
  justify-content: center;
}



.loginBackground {
  width: 150px;
  height: 30px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  border: 4px solid #8f715a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  background: linear-gradient(#fed3ee,#fed3ee,#fed3ee);
}

.registerBackground {
  width: 150px;
  height: 30px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  border: 4px solid #fed3ee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  background: linear-gradient(#8f715a,#8f715a,#8f715a);
}

.loginBox{
  margin: 100px 0px 0px 0px;
}

.login{
color: #8f715a;
font-weight: bold;
font-size: 25px;
font-family: 'Russo One', sans-serif;
}

.register{
  color: #fed3ee;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Russo One', sans-serif;
}