body {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameSection {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 400px;
  height: 100vh;
}

.prePage {
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 20px;
}

.game {
  /* background-image: url(); */
  background-color: grey;
  width: 100%;
  height: 530px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  justify-content: space-evenly;
}

.button {
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 40px;
}
