body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Russo One", sans-serif;
}

.gameSection {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 390px;
  height: 844px;
  padding: 20px;
  background-image: url(other.jpeg);
  background-size: cover;
  object-fit: fill;
  background-repeat: repeat-x;
  animation: background-animation 50s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes background-animation {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1920px;
  }
}
/* 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
} */

.title {
  font-size: 60px;
  text-align: center;
}

form > label {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

form > input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

input:last-child {
  width: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img {
  width: 50%;
  height: 50%;
  margin-bottom: 3rem;
}

.create {
  position: relative;
  box-sizing: content-box;
  background-color: #fed3ee;
  font-weight: bold;
  color: #836334;
  border: 3px solid #836334;
  font-family: "Russo One", sans-serif;
}
